<section>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center flex-grow-1">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <%= image_tag "edit_profile_pic.jpg", alt: "Sample image", style: "width: auto; height: calc(100vh - 175px)"%>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">       
        <h1 class="text-center">Éditer mon profil</h1>
        <br />
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
         
          <!-- email input -->
          <div class="field">
            <%= f.label :email, "Adresse e-mail" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Attente de confirmation pour: <%= resource.unconfirmed_email %></div>
          <% end %>

          <!-- Password input -->
          <div class="field">
            <br />
            <%= f.label :password, "Nouveau mot de passe" %> <small>(Laisser vide si aucun changement requis)</small><br />
            <%= f.password_field :password, autocomplete: "nouveau mot de passe", class:"form-control" %>
            <% if @minimum_password_length %>
              <small><em><%= @minimum_password_length %> caractères minimum</em></small>
            <% end %>
          </div>
          <br />
          <div class="field">
            <%= f.label :password_confirmation, "Confirmez votre nouveau mot de passe" %>
            <%= f.password_field :password_confirmation, autocomplete: "nouveau mot de passe", class:"form-control" %>
          </div>
          <br />
          <div class="field">
            <%= f.label :current_password, "Mot de passe actuel" %> <small>(pour confirmer les changements effectués🔓)</small><br />
            <%= f.password_field :current_password, autocomplete: "Mot de passe actuel", class:"form-control" %>
          </div>
          <br />

          <!-- Names input -->
          <div class="form-outline mb-2">
            <%= f.label :first_name, "Prénom" %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "Prénom", class:"form-control" %>
          </div>
          <br />
          <div class="form-outline mb-2">
            <%= f.label :last_name, "Nom" %><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete: "Nom", class:"form-control" %>
          </div>
          <br />

          <div class="actions">
            <%= f.submit "Modifier 😺", class:"btn btn-success btn px-3 mb-3" %>
          </div>
          <br />
        <% end %>

        <h3>Supprimer mon compte</h3>
        <small class="text-muted">(vous voulez vraiment nous quitter, pour de vrai ? 😿)</small>
        <br />
        <%= button_to "Supprimer mon compte", registration_path(resource_name),class:"btn btn-danger btn px-3 mb-3", data: { confirm: "Certain ?" }, method: :delete %>
        <%= link_to "Retour", :back %>
        <br />
      </div>
    </div>
  </div>
</section>
