<section class="flex-grow-1" style="background-color: black ;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-white">Votre panier</h3>
        </div>
        <% @items.uniq.each do |item| %>
          <% purchase = @current_cart.purchases.where(item_id: item.id).first %>
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-around align-items-center">
              
                <!-- Product image-->
                <div class="col-md-2 col-lg-2 col-xl-2">
                <%= image_tag item.image_url, class: "img-fluid rounded-3", alt: "picture of cat" %>
                </div>
              
                <!-- Product details-->
                <!-- Product name-->
                <div div class="col-md-3 col-lg-3 col-xl-3">
                  <%= item.title %>
                </div>
                  <!-- Product price-->
              
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <%= item.price %> €
                </div>

                  <!-- Product suppr -->                
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <div class= "d-flex justify-content-center" id= "divbtn">
                    <%= button_to '-', purchase_path(purchase.id), class:"btn btn-outline-dark my-1", method: 'delete' %>
                    <span class="badge bg-dark text-white mx-2 rounded-pill p-3" id="num"><%= @current_cart.purchases.where(item_id: item.id).count %></span>
                    <%= button_to '+', purchases_path, class:"btn btn-outline-dark my-1", method: 'post', params: { item_id: item.id } %>
                  </div> 
                </div>

                  <!-- Purchase -->
                  
              </div>
            </div>
          </div>
        <% end %>
        <div class="card">
          <div class="w-100 d-flex align-items-center p-3 justify-content-between">
            <div class="badge bg-light fs-5" id="amount">
              Total : <%= @price %> €
            </div>
            <div>
              <%= button_to "Passer commande", checkout_create_path(total: @price), class: "btn btn-primary", remote: true %>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
