<div class="text-center mt-5 mb-5">
  <h1>Ajout d'un item</h1>
</div>

<fieldset class="d-flex flex-column mx-auto" style="width: 50%">
<%= form_with url: admins_items_path, method: :post, local: true do |f| %>

    <div class="form-group">
      <%= f.label :title, "Titre:", class: "form-label mt-4" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Description:", class: "form-label mt-4" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :price, "Prix:", class: "form-label mt-4" %>
      <%= f.number_field :price, class: "form-control" %> 
    </div>

    <div class="form-group">
      <%= f.label :image_url, "Url de l'image", class: "form-label mt-4" %>
      <%= f.text_field :image_url, class: "form-control" %>
    </div>
  
    <%= f.submit "Ajouter l'item", class: "btn btn-primary mt-4" %>                               
<% end %>        
</fieldset>