<section>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center flex-grow-1">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <%= image_tag "new_session_pic.jpg", alt: "Sample image", style: "width: auto; height: calc(100vh - 175px)"%>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h1 class="text-center">Se connecter</h1>
        <!-- Email input -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-outline mb-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

        <!-- Password input -->
          <div class="form-outline mb-3">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "mot de passe", class:"form-control" %>
          </div>

          <!-- Checkbox -->
          <% if devise_mapping.rememberable? %>
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                <%= f.check_box :remember_me, class:"form-check-input me-2" %>
                <%= f.label :remember_me, class:"form-check-label" %>
              </div>
            </div>
          <% end %>

          <div class="text-center text-lg-start pt-2">
            <div class="actions">
              <%= f.submit "Se connecter", class:"btn btn-primary btn-lg px-3 mb-3" %>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</section>