        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <% if @item.picture.attached? %>
                            <%= image_tag @item.picture, class:"card-img-top mb-5 mb-md-0"%>
                        <% else %>
                            <p>Mmmmh... 🤔 Pas d'image pour cette item</p>
                            <%= form_tag do %>
                                <%= file_field_tag :picture %>
                                <%= submit_tag "uploader l'image dé lo potit chat" %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">Ref: <%= @item.id %></div>
                        <h1 class="display-5 fw-bolder"><%= @item.title %></h1>
                        <div class="fs-5 mb-5">
                            <span><%= @item.price %> €</span>
                        </div>
                        <p class="lead"><%= @item.description %></p>
                        <!-- ADD TO CART BTN
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                        -->
                        <div class="text-center">
                            <%= button_to 'Ajouter au panier', purchases_path, class:"btn btn-outline-dark mt-auto", method: 'post', params: { item_id: @item.id } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>