<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <% @items.each do |item|%>
    <div class="col mb-5">
        <div class="card h-100">
        <!-- Product image-->
        <%= image_tag item.image_url, class: "card-img-top", alt: "picture of cat" %>
        <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder"><%= item.title %></h5>
              <!-- Product price-->
              <%= item.price %> €
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><%= link_to 'Détails', item_path(item.id), class:"btn btn-outline-dark mt-auto" %>
            </div>
            <div class="text-center">
              <%= button_to 'Ajouter au panier', purchases_path, class:"btn btn-outline-dark mt-2", method: 'post', params: { item_id: item.id } %>
            </div>
          </div>
        </div>
      </div>
       <% end %>
    </div>
  </div>