<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!"><%= link_to 'KittyShop', root_path, class: "text-decoration-none link-dark" %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <% if user_signed_in? and current_user.admin %>
                    <li class="nav-item"><%= link_to "dashboard", admins_path, class: "nav-link active"%></li>
                <% end %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profil</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if user_signed_in? == false %>
                        <li><%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %></li>
                        <li><%= link_to "Se connecter", new_user_session_path, class: 'dropdown-item' %></li>
                        <%else%>
                        <li><%= link_to "Mon profil", user_path, class: 'dropdown-item', method: :get %></li>
                        <li><%= link_to "Se déconnecter", destroy_user_session_path, class: 'dropdown-item', method: :delete %></li>
                        <%end%>     
                    </ul>
                </li>
            </ul>
            <% if user_signed_in? %>
            <form class="d-flex" action="<%=cart_path(find_cart)%>" method="get">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Panier
                    <span class="badge bg-dark text-white ms-1 rounded-pill"><%= find_cart.items.length %></span>
                </button>
            </form>
            <% end %>
        </div>
    </div>
</nav>